Source: usefull-scripts
Section: unknown
Priority: optional
Maintainer: Alexander Akopov <akopov.alexander@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/aakopov/usefull-scripts
Vcs-Git: git@github.com:aakopov/usefull-scripts.git
Vcs-Browser: https://github.com/aakopov/usefull-scripts

Package: usefull-scripts
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Script tools for automate simple actions
 helpfull for develop
